{{ define "title" }}#{{ .Params.id }} {{ .Params.title }} - {{ .Site.Title }}{{ end }}

{{ define "context-bar" }}
{{ partial "project-nav.html" (dict "project" .Parent.Parent "active" "issues") }}
{{ end }}

{{ define "breadcrumb" }}
{{ partial "breadcrumb.html" (slice
  (dict "label" "Projects" "url" "/projects/")
  (dict "label" .Parent.Parent.Params.name "url" .Parent.Parent.RelPermalink)
  (dict "label" "Issues" "url" .Parent.RelPermalink)
  (dict "label" (printf "#%v" .Params.id))) }}
{{ end }}

{{ define "main" }}
<h1>{{ if .Params.id }}#{{ .Params.id }} {{ end }}{{ .Params.title }}</h1>
<table class="attributes">
  <tr>
    <th>Tracker</th><td>{{ partial "badge.html" (dict "type" "tracker" "value" .Params.tracker) }}</td>
    <th>作成日</th><td>{{ .Params.created_on }}</td>
  </tr>
  <tr>
    <th>Status</th><td>{{ partial "badge.html" (dict "type" "status" "value" .Params.status) }}</td>
    <th>更新日</th><td>{{ .Params.updated_on }}</td>
  </tr>
  <tr>
    <th>Priority</th><td>{{ partial "badge.html" (dict "type" "priority" "value" .Params.priority) }}</td>
    <th></th><td></td>
  </tr>
</table>
{{ .Content }}
{{ end }}
